.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  grid-row-gap:    1px;
  grid-column-gap: 1px; 
  border-top: 1px white solid;
  text-align: center; 
  margin: 50px;
  margin-top: 0px;
}

.top-row {
  display: grid; 
  grid-template-columns: repeat(11, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px; 
  margin: 50px;
  margin-bottom: 0px;
  text-align: center;
}

.grid > div, .top-row > div {
  background: lightgrey;
  padding: 1rem;
}

.axis {
  font-weight: bold; 
  color: white;
}

.code {
  color: black;
}
